name: Update Nebula OS Card

on:
  schedule:
    - cron: '*/30 * * * *' # Ruleaza la fiecare 30 min
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Requests
        run: pip install requests

      - name: Run Script
        run: python generate_card.py

      - name: Commit and Push
        run: |
          git config --global user.name "Nebula-Bot"
          git config --global user.email "bot@andz.os"
          git add nebula_card.svg
          git commit -m "System status update" || echo "No changes to commit"
          git push
